main {
  #projects {
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 150px;

      h3 {
        margin-bottom: 0em;
      }

      span {
        color: coral; //#b1a7a6;
      }
    }

    &__ideas {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      width: 100%;
      @include set-background-color($primary-color);

      a {
        text-decoration: none;
        color: white;
      }
    }

    &__tabs {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 60px;
      width: 100%;
      flex-wrap: nowrap;
      overflow: hidden;
      overflow-x: auto;
      //  @include set-background-color(darken($secondary-color, 5%));
      border-bottom: 5px solid coral;

      ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        li {
          text-align: center;
          width: 200px;
          margin-right: 1em;
          padding: 0.8em;
          transition-property: all;
          transition-delay: 0.3ms;
          transition-duration: 0.5ms;
          transition-timing-function: step-start;
          cursor: pointer;

          &:hover {
            transform: scale(1.01);
            @include set-background-color(lighten($secondary-color, 5%));
            border-left: 5px solid coral;
          }
        }
      }

      &-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
    }

    &__project {
      padding: 1em;
      width: 240px;
      height: 310px;
      margin: 2em;
      display: flex;
      flex-direction: column;
      @include set-background-color($secondary-color);
      box-shadow: 0.6em 0.3em 0.6em 0.3em rgba($secondary-color, 0.3);
    }
    &__img {
      display: flex;
      justify-content: center;
      margin: 1em;

      img {
        width: 65px;
        height: 65px;
      }
    }

    &__info {
      h3 {
        margin-bottom: 0.2em;
      }

      div {
        height: 120px;
        overflow: hidden;
        overflow-y: auto;
        margin-bottom: 0.8em;
        display: flex;
        flex-direction: column;

        p {
          word-wrap: break-word;
        }
      }
    }

    &__link a {
      color: white;
      float: right;
      transition-delay: 0.3ms;
      transition-timing-function: step-end;
      transition-property: all;

      &:hover {
        transform: scale(1.01);
        @include set-background-color(lighten($secondary-color, 5%));
        border-left: 5px solid coral;
      }
    }
  }
}
