@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

//Colors
$background-color: #2b2b2b;
$primary-color: #3f3f3f;
$secondary-color: #525252;

//Media Quries
$tabletxl: 800px;
$tabletXL__landscape: 1280px;
$desktop: 1281px; //1281px; //960px;

@mixin tabletXL {
  @media (min-width:#{$tabletxl}) {
    @content;
  }
}

@mixin tabletXL__landscape {
  @media (min-width:#{$tabletXL__landscape})and (orientation:landscape) {
    @content;
  }
}

@mixin desktop {
  @media (min-width:#{$desktop}) {
    @content;
  }
}

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}

@mixin set-background-color($color) {
  background-color: $color;
  color: set-text-color($color);
}
